 {{!-- http://localhost:3001/ --}}

 {{#each blogs as |blog| }}
<div>
  <br>
  <h2>
    <br>
    <a href="/post/{{blog.id}}">{{blog.title}}</a>
  </h2>  
</div>
<div>
  <h4>Posted by: {{blog.user.username}}</h4>
  <p id="postDate"> on {{blog.createdAt}} </p>
</div>
<div>
   <p id="postContent"> {{blog.content}}</p> 
</div>
{{/each}}


